/* .home{ */
    /* display: flex; */
    /* transition-duration: 10s; */
    /* justify-content: center;
    background-image: url('https://images.pond5.com/dark-underwater-scene-looped-animation-footage-103252501_iconl.jpeg');
    background-size: cover; */
    /* filter: brightness(20%); */
    /* opacity: 0; */
    /* background-color: black; */
    /* background-position: center;
    background-repeat: no-repeat; */
    /* height: 100vh; */
    /* width: 200vh;  */
    /* margin-left: -10vh; */
    
/* } */

/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: -50vh;
    gap: 50px;
} */

body {
  background-color: white;
  justify-content: center;
  text-align: center;
}

span{
  text-align: center;
  color: blue!important;
}